@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: black !important;
}

.cardo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* opacity: .8; */
    background-image: url(./edificios.jpg);
    background-position-y: bottom;
    padding: 2rem;
    height: 50vh;
}

.name {
    font-family: 'Barlow', sans-serif;
}

.stack {
    display: inline;
    font-size: 5rem;
    background-color: white;
    opacity: .7;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: .02em .02em .02em .02em grey;
}

.logotipo {
    color: black;
}

.foto {
    display: inline;
}

.contenedor-foto {
    background-color: white;
    opacity: .7;
    /* border-radius: 1rem;  */
    padding: .7rem;
    box-shadow: .03em .03em .03em .03em grey;
}

.slogan {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1.2px;
    color: rgb(202, 200, 200);
    margin: auto;
    display: flex;
}

.about {
    background-color: rgb(202, 200, 200);
    color: black;
}

.titulo-about {
    color: black;
}

.contact {
    background-color: black;
}

.titulo-contact {
    color: rgb(202, 200, 200)
}

.imagen-section {
    display: inline;
    width: 35%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    opacity: .7;
    align-self: center;
}

.imagen-section:hover {
    opacity: 1;
}

.titulo-parrafo {
    width: 60%;
}

h2 {
    font-size: 12rem !important;
    /* text-align: center; */
    color: rgb(202, 200, 200);
    margin-bottom: 3.5rem !important;
    align-self: center;
    margin-top: 5rem !important;
    margin-left: 5rem;
}

p {
    font-size: 1.2rem;
    padding: 2rem;
    padding-top: 0;
}

p {
    margin-bottom: 2rem !important;
}

.pie {
    position: absolute;
    margin-top: 3rem;
    width: 100%;
    text-align: right;
    padding: 1.2rem;
    color: black;
    background-color: rgb(202, 200, 200);
    ;
}

h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}

.links {
    justify-content: end;
}


/* media queries */

@media only screen and (max-width: 400px) {
    .foto {
        display: none;
    }
    .cardo {
        display: block;
        margin: 0%;
        padding: .3rem;
        width: 100%;
        border-radius: 0%;
        box-shadow: none;
        display: flex;
    }
    .nomydesc {
        padding: .3rem;
        text-align: left;
    }
    .nombre {
        padding: 0%;
    }
    .tonbo {
        display: block !important;
        margin: 2rem auto;
    }
    .description {
        padding: 3rem .3rem;
    }
}